<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
      Name="TCE Tel Shell"
      Manufacturer="TCE Company"
      Version="1.0.0.0"
      UpgradeCode="11111111-2222-3333-4444-555555555555"
      Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="Assets\TceTelShell.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Property Id="WixShellExecTarget" Value="[#TelShellExe]" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch TCE Tel Shell" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="TCE Tel Shell is installed and ready to handle tel: links." />

    <WixVariable Id="WixUIBannerBmp" Value="Assets\WixUIBanner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\WixUIDialog.png" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <UI>
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication"
               Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
    </UI>

    <CustomAction Id="LaunchApplication"
                  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixShellExec"
                  Execute="immediate"
                  Return="ignore" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="TCE Tel Shell">
        <Directory Id="WWWROOTFOLDER" Name="wwwroot" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="TCE Tel Shell" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="TCE Tel Shell" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="WebView2LoaderComponent" />
      <ComponentRef Id="ShellIndexHtml" />
      <ComponentRef Id="CapabilitiesRegistration" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <Component Id="MainExecutable" Directory="INSTALLFOLDER" Guid="A1B2C3D4-E5F6-4711-8111-111111111111">
      <File
          Id="TelShellExe"
          Source="..\TceTelShell\bin\Release\net8.0-windows\win-x64\publish\TceTelShell.exe"
          KeyPath="yes" />

      <RegistryKey Root="HKLM" Key="Software\Classes\TceTelShell.tel" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Type="string" Value="URL:TCE Tel Shell Protocol" />
        <RegistryValue Name="URL Protocol" Type="string" Value="" />
      </RegistryKey>

      <RegistryKey Root="HKLM" Key="Software\Classes\TceTelShell.tel\DefaultIcon" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Type="string" Value="[#TelShellExe],0" />
      </RegistryKey>

      <RegistryKey Root="HKLM" Key="Software\Classes\TceTelShell.tel\shell\open\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Type="string" Value="&quot;[#TelShellExe]&quot; &quot;%1&quot;" />
      </RegistryKey>
    </Component>

    <Component Id="WebView2LoaderComponent" Directory="INSTALLFOLDER" Guid="B2C3D4E5-F6A7-4822-8222-222222222222">
      <File
          Id="WebView2LoaderDll"
          Source="..\TceTelShell\bin\Release\net8.0-windows\win-x64\publish\runtimes\win-x64\native\WebView2Loader.dll"
          KeyPath="yes" />
    </Component>

    <Component Id="ShellIndexHtml" Directory="WWWROOTFOLDER" Guid="C3D4E5F6-A7B8-4933-8333-333333333333">
      <File
          Id="ShellIndexFile"
          Source="..\TceTelShell\bin\Release\net8.0-windows\win-x64\publish\wwwroot\index.html"
          KeyPath="yes" />
    </Component>

    <Component Id="CapabilitiesRegistration" Directory="INSTALLFOLDER" Guid="D4E5F6A7-B8C9-4A44-8444-444444444444">
      <RegistryKey Root="HKLM" Key="Software\TCE Company\TCE Tel Shell\Capabilities" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Name="ApplicationName" Type="string" Value="TCE Tel Shell" KeyPath="yes" />
        <RegistryValue Name="ApplicationDescription" Type="string" Value="TCE Tel Shell protocol handler and dialer shell." />
      </RegistryKey>

      <RegistryKey Root="HKLM" Key="Software\TCE Company\TCE Tel Shell\Capabilities\URLAssociations" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Name="tel" Type="string" Value="TceTelShell.tel" />
      </RegistryKey>

      <RegistryKey Root="HKLM" Key="Software\RegisteredApplications" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
        <RegistryValue Name="TCE Tel Shell" Type="string" Value="Software\TCE Company\TCE Tel Shell\Capabilities" />
      </RegistryKey>
    </Component>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="AppProgramMenuFolder">
      <Component Id="StartMenuShortcutComponent" Guid="E5F6A7B8-C9D0-4B55-8555-555555555555">
        <Shortcut Id="StartMenuShortcut"
                  Name="TCE Tel Shell"
                  Description="Launch TCE Tel Shell"
                  Target="[INSTALLFOLDER]TceTelShell.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.ico" />
        <RemoveFolder Id="RemoveAppProgramMenuFolder" Directory="AppProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\TCE Company\TCE Tel Shell"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
